<% if @details_of_user%>
  <div class="container">
    <div class="form-group row">
      <% @details_of_user.each do |user_details| %>
        <% if current_user.id != user_details.id %>
          <div class="col-9">
            <div class = "card card-header alert-success col-9">
              <strong>First Name: <%= user_details.first_name %> </strong>
              <strong>Last Name: <%= user_details.last_name %> </strong>
              <strong>Email: <%= user_details.email %></strong>
              <br>
              <%= link_to('View Profile', investor_path(:id => user_details.id) ,class: 'btn btn-info btn-sm') %>
            </div>
          </div>
        <% end %>
      <% end %>
      
      <div class="col-3">
        <%= link_to("My Friends", friends_path ,class: 'btn btn-info btn-sm')%>
      </div>
    </div>
  </div>
<% end %>

