<% if @details_of_stock %>
  <div class="form-group row">
    <div class="col-9">
      <div class = "card card-header alert-success col-9">
        <strong>Symbol: <%= @details_of_stock.ticker %> </strong>
        <strong>Name: <%= @details_of_stock.name %> </strong>
        <strong>Last Price: <%= @details_of_stock.last_price %> $ </strong>
        <br>
        <% if current_user.can_track_stock(@details_of_stock.ticker) %>
          <%= link_to("Add to Portfolio", user_stocks_path(user: current_user, ticker: @details_of_stock.ticker), class: 'btn btn-xs btn-success', method: :post) %>
        <% else %>
          <% if current_user.stock_already_added_to_portfolio?(@details_of_stock.ticker) %>
            <span class="badge badge-secondary alert-warning">
              You are already tracking <%= @details_of_stock.ticker %>
            </span>
          <% else %>
            <span class="badge badge-secondary alert-danger">
              You have reached your account limit to track the stocks
            </span>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-3">
      <%= link_to("My Stocks", my_portfolio_path ,class: 'btn btn-info btn-sm')%>
    </div>
  </div>
<% end %>