<div class="container">

  <%= form_tag(search_user_path, method: :get) do |f| %>
    <%= label_tag("Search for Users")%>
    <div class = "form-group row">
      <div class="col-9">
        <%= text_field_tag(:email, "", autofocus: true, class: 'form-control') %>
      </div>
      <div class="col-2">
        <%= submit_tag("Search", class: 'btn btn-success btn-sm')%>
      </div>
      <div class="col-1">
        <%= link_to("Home", root_path , class: 'btn btn-warning btn-sm')%>
      </div>
    </div>

  <% end %>
  <div class="col-12">
    <span class="label label-info">Here are the people you follow</span>
    <%= render 'friends/friends_table'%>
  </div>
</div>