<div class="container">
  <%= form_tag(search_stock_path,method: :get) do |f| %>
    <%= label_tag("Search for Stocks")%>
    <div class = "form-group row">
      <div class="col-9">
        <%= text_field_tag(:stock, "", autofocus: true, class: 'form-control') %>
      </div>
      <div class="col-2">
        <%= submit_tag("Search", class: 'btn btn-success btn-sm')%>
      </div>
      <div class="col-1">
        <%= link_to("Home", root_path , class: 'btn btn-warning btn-sm')%>
      </div>
    </div>

  <% end %>
  <div id="results col-9">
    <%= render 'investors/search_results'%>
  </div>
  <%= render 'investors/my_stocks'%>
</div>    