<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="static/css/myCss.css" rel="stylesheet">
<meta charset="UTF-8">
<link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="static/css/customIndex.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="static/css/bootstrap-responsive.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<title>Index</title>
</head>


  <body>
    <div class="navbar-header">
      <div class="col-12">
        <%= link_to 'Search for Stocks', my_portfolio_path, method: :get, class: 'navbar-btn btn btn-success' %>
        <%= link_to 'My Friends', friends_path, method: :get, class: 'navbar-btn btn btn-info' %>
        <% if current_user.admin %>
          <%= link_to 'All Users', users_path, method: :get, class: 'navbar-btn btn btn-info' %>
        <% end %>

        <div class="navbar-btn btn btn-warning">
          <%= image_tag('https://img.icons8.com/nolan/24/user.png') %>
          <%= link_to current_user.full_name, investor_path(id: current_user.id), method: :get %>
        </div>
        <div class="navbar-btn btn btn-danger">
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
          <%= image_tag('https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/24/000000/external-sign-out-user-interface-tanah-basah-glyph-tanah-basah.png') %>
        </div>
        
      </div>
    </div>
  </body> 
</html>